body {
    background-image: url("../images/iccup-xNtwmcRP-gw-unsplash.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
  }  

#city {
    text-transform: capitalize;
  }
  
#capitalizedCity::first-letter {
    text-transform: capitalize;
  }

#forecast {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    padding: 20px;
    font-weight: bold;
    /* justify-content: space-between; */
}
  
.forecast-box {
    padding: 10px;
    border-radius: 8px;
    margin: 5px;
    background-color: rgba(50, 121, 168, 0.5);
    font-weight:400;
  }

#forecastDays {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
  
#weather {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 8px;
    /* margin-right: 15px; */
}

#recentSearches {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 8px;
    /* margin-left: 15px; */
}

.recent-search-link {
    display: block;
    margin-bottom: 5px; /* Optional: Add margin between the links */
  }

.weather-info {
    display: flex;
    align-items: center;
    line-height: 20px;
  }
  
.weather-icon {
    width: 100px; /* Adjust the size of the weather icon as needed */
    height: 100px;
    margin-right: 20px; /* Add spacing between the icon and text */
  }

#formattedDate {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 8px;
    font-size: 40px;
    text-align: center;
}
  
  
@media (max-width: 767px) {
    #forecastDays .forecast-box {
        flex-direction: column;
    }
}